<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hui.zhong.cf.job.dao.JobMapper" >

  <resultMap id="BaseResultMap" type="com.hui.zhong.cf.job.model.Job" >
    <id column="userId" property="userId" javaType="Long" />
    <result column="userName" property="userName" javaType="String" />
  </resultMap>

	<select id="find" parameterType="com.hui.zhong.cf.job.model.Job" resultMap="BaseResultMap">
		select userId,userName,sex from user
	</select>
  
  
  
</mapper>